<div class="col-xs-12">
  <p class="small text-muted"> Add more game by clicking <em>Live Comparision</em>.</p>
</div>
<div class="games">
    <div *ngFor="let game of listGames">
       <div>
         <div class="col-xs-12 text-success">
            <h4 class="text-cap">{{game.name}}</h4>
         </div>
         <div class="col-xs-12 col-md-6">
          <game-element [detail]="game.left" ></game-element>
        </div>
         <div class="col-xs-12 col-md-6">
           <game-element [detail]="game.right" ></game-element>
          </div>
       </div>
    </div>

    <div class="col-xs-12" *ngIf="!listGames.length">
      <p class="lead">
        {{ listGamesMessage }}
      </p>
    </div>

</div>
